body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f8f8;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  background: white;
  width: 50%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #de710b;
  font-size: 26px;
}

.pizza-optie {
  display: inline-block;
  width: 30%;
  padding: 10px;
  margin: 10px;
  background: #fff3e0;
  border-radius: 10px;
  transition: 0.3s;
}

.pizza-optie:hover {
  background: #ffe4b2;
  transform: scale(1.05);
}

.pizza-optie img {
  border-radius: 50%;
  border: 3px solid #d36d00;
}

.extra-opties {
  background: #f2f2f2;
  padding: 10px;
  border-radius: 8px;
  margin-top: 15px;
}

button {
  background: #d35400;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #e68122;
  transform: scale(1.1);
}
